<!DOCTYPE html>
<html>

{% include 'goog_analytics.html' %}

{% include 'head.html' %}

<body>

    {% include 'header.html' %}

<!-- Native Ads by Adsterra -->
<script async="async" data-cfasync="false" src="//pl15320728.passeura.com/ac1333dc8693688383215d9d36441e0b/invoke.js"></script>
<div id="container-ac1333dc8693688383215d9d36441e0b"></div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>