{% extends 'base.html' %}  

{% load static %}

{% block content %}
<div class="container">
<div class="col-md-10 offset-4 mt-5">
  <h1 class="abouts">Contact</h1>
</div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-3">
      <div class="aboutit">
        <p>Hello,</p>

        <p>If you have any comments, questions, or suggestions, then you can reach me at 
        <a href="mailto:james@inquisitively.io">james@inquisitively.io</a>.</p>

        <p>For faster responses you can message me directly on 
        <a href="https://www.facebook.com/jamesreeves.inquisitivelyio" target="_blank">Facebook</a>
        and <a href="https://www.instagram.com/inquisitively.io/" target="_blank">Instagram</a>.

        <p>I look forward to hearing from you.</p>
        <br>

      </div>
    </div>
  </div>
</div>

{% endblock content %}