{% load static %}

<style>
  .image img {
    width: 100%;
  }
</style>

<!-- Gallery Section -->
<section class="gallery no-padding">    
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% url 'home-page' %}" class="image"><img src="{% static 'img/foot8.jpg' %}" alt="..." class="img">
          <div class="overlay d-flex align-items-center justify-content-center"><h4 class="fa fa-home"> | Home</h4></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% url 'post-list' %}" class="image"><img src="{% static 'img/footer2.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><h4 class="fa fa-book"> | Blog</h4></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% url 'about-page' %}" class="image"><img src="{% static 'img/footer-about.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><h4 class="fa fa-drivers-license"> | About</h4></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/accounts/signup/" class="image"><img src="{% static 'img/foot-a.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><h4 class="fa fa-user-plus"> | Register</h4></div></a></div>
    </div>
  </div>
</section>

<!-- Page Footer-->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="logo">
          <a class="font-change" href="/"><h2 class="fa fa-file-code-o"> | Inquisitively</h2></a>
        </div>
        <div class="contact-details">
          <a href="mailto:business@inquisitively.io">
            <h2 class="fa fa-address-book-o"> | business@inquisitively.io</h2>
          </a>
          <ul class="social-menu">
            <li class="list-inline-item"><a href="https://www.facebook.com/jamesreeves.inquisitivelyio" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/inquisitively.io/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCdwoEUqBuIT47VM1CfpbTjQ/featured?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com/InquisitivelyBlog/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/james-reeves-a24514b6/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="menus d-flex">
        <div class="footer-font">
          <ul class="list-unstyled">
            <li> <a href="/about">About</a></li>
            <li> <a href="/categories">Article Categories</a></li>
            <li> <a href="/blog">Blog</a></li>
            <li> <a href="mailto:business@inquisitively.io">Contact</a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latest-posts">
          <a href="/">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/inquisitively-logo.jpg' %}" alt="..." class="img-fluid"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        {% if year %}
          <p><i class="far fa-copyright"></i> {{ year }} - inquisitively.io </p>
        {% else %}
          <p>
            <i class="far fa-copyright"></i> 
            <script>document.write(new Date().getFullYear())</script> - inquisitively.io
          </p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>