{% extends 'base.html' %}  
{% load static %}

{% block content %}
<main class="posts-listing mb-2 mt-2"> 
<div class="font-change"><h1 class="offset-5 mb-5">Article Categories</h1></div>
  <div class="container">
    <div class="row">
      <!-- categories -->
      {% for post in queryset %}
      <div class="post col-xl-6">
          <div class="post-thumbnail">
          <div class="font-change"><a class="h4" href="{{ post.title }}">{{ post.title }}</a></div>
              <a href="{{ post.title }}"><img src="{{ post.image.url }}" alt="..." class="img-fluid"></a>
          </div>
          <br />
          <div class="alt-font-change">
              <h6>{{ post.description }}</h6>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}